{profiles, [
  {prod, [
    {erl_opts, [no_debug_info, warnings_as_errors]}
  ]},
  {test, [
    {erl_opts, [debug_info]}
  ]}
]}.
{pre_hooks, [
  {"(linux|darwin|solaris)", compile, "make"},
  {"(freebsd)", compile, "gmake"}
]}.
{post_hooks, [
  {"(linux|darwin|solaris)", clean, "make clean"},
  {"(freebsd)", clean, "gmake clean"}
]}.
